node_modules
frontend/node_modules
frontend/.next
frontend/out
**/__pycache__
*.py[cod]
*.env
.env
**/.venv
**/.venv_test
**/venv
Lib
scripts/*.exe
Include
pyvenv.cfg
.npm-cache
data
**/.pytest_cache
.git
.gitignore
